body{
    display: grid;
    grid-template-columns: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
    background-color: black;
}

header{
    color: white;
    grid-column: 6/8;
    text-align: center;
}

main{
    padding: 20px;
    position: relative;
    top: 40px;
    border-style: double;
    grid-column: 2/12;
    color: white;
    border-color: white;
}

footer a{
    color: white;
    text-decoration: underline;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}