:root{
  --lightshades: #F4F4EE;
  --lightaccent: #D1988F;
  --maincolor: #C5283D;
  --darkaccent:#948CA0;
  --darkshades:#242C3D;
}
body{
  margin: 0px;
  background-color: var(--darkshades);
}
.hero-image {
  margin: auto;
  box-shadow: 1px 5px 5px 0px rgba(2, 1, 20, 0.3);
  background-image: radial-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 1)), url("spider.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:800px;
  margin-top: -100px;
  position: relative;
  border-radius: 10px;
  z-index: -1;
}

.hero-text {
  font-family: "Press Start 2P";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar{
  background-color: var(--maincolor);
  padding: 10px;
  text-align: center;
  box-shadow: 1px 5px 5px 0px rgba(2, 1, 20, 0.3);

  margin: auto;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.navbar a{
  text-decoration: none;
  background-color: var(--jet);
  font-family: Ubuntu;
  color: white;
  margin: 10px;
  padding: 5px 7px;
  border-radius: 15px;
  transition: margin 0.3s, border-radius 1s;
}

.navbar a:hover{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: thick;
  border-bottom-color: var(--cultured);
  border-bottom-style: ridge;
  margin: 100px;
}

button{
  font-family: Lobster;
  background-color: var(--maincolor);
  color: var(--jet);
  border-radius: 10px;
  border-color: var(--maincolor);
  padding: 3px 10px;
  font-size: 16pt;
}
button :active{
  border-style: none;
}

.accentcard{
  border-style: solid;
  border-color: var(--maincolor);
  box-shadow: 5px 5px 5px 2px rgba(2, 1, 20, 0.4);
  vertical-align: top;
  display: inline-block;
  color: var(--lightshades);
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
  width: 300px;
  height:300px;
  background-color: var(--maincolor);
  border-bottom-left-radius: 50%;

}
.accentcard h1{
  font-family:Ubuntu;
  font-size: 16pt;
  letter-spacing: 1px;

}
.accentcard p{
  font-family: Ubuntu;
  font-size: 12pt;
}

.card{
  box-shadow: 5px 5px 5px 2px rgba(2, 1, 20, 0.4);
  vertical-align: top;
  display: inline-block;
  color: var(--darkshades);
  border-radius: 4px;
  border-top-right-radius: 30px;
  margin: 50px;
  padding: 20px;
  width: 300px;
  height:300px;
  background-color: var(--lightshades);
}
.card h1{
  font-family:'Lobster';
  font-size: 16pt;
  letter-spacing: 1px;

}
.card p{
  font-family: Ubuntu;
  font-size: 12pt;
}


.invcard{
  box-shadow: 5px 5px 5px 2px rgba(2, 1, 20, 0.4);
  vertical-align: top;
  display: inline-block;
  color: var(--darkshades);
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
  width: 300px;
  height:300px;
  background-color: var(--lightaccent);
}
.invcard h1{
  font-family:'Lobster';
  font-size: 16pt;
  letter-spacing: 1px;

}
.invcard p{
  font-family: Ubuntu;
  font-size: 12pt;
}
.github button{
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: var(--lightshades);
  border-color: var(--darkshades);
  color: var(--darkshades);
  width: 200px;
}
