:root{
  --lightshade: #f1faee;
  --lightaccent: #a8dadc;
  --maincolor: #d81159;
  --darkaccent:#457b9d;
  --darkshade:#1d3557;
}

/*alt color scheme
:root{
  --lightshade: #EEF1F3;
  --lightaccent: #6E99B5;
  --maincolor: #17bebb;
  --darkaccent: #837189;
  --darkshade: #1D2534;
}
*/
body{
  margin: 0px;
  background-color: var(--darkshade);
}


.navbar{
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--lightshade);
  position: fixed;
  padding: 5px;
  text-align: center;
  box-shadow: 11px 7px 20px black;
  margin: auto;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 100;
}

.navbar a{
  text-decoration: none;
  font-family: Lobster;
  font-size: 16pt;
  color: var(--darkaccent);
  margin: 10px;
  padding: 0px 10px;
  border-radius: 0px;
  transition: margin 0.3s, border-radius 1s;
  /* border-bottom-style: solid; */
  border-bottom-width: thin;
}

.navbar a:hover{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: thin;
  border-bottom-color: var(--lightaccent);
  border-bottom-style: solid;
  margin: 20px;
}
a{
  color: var(--maincolor);
}
button{
  font-family: Lobster;
  background-color: var(--maincolor);
  color: var(--jet);
  border-radius: 10px;
  border-color: var(--maincolor);
  padding: 3px 10px;
  font-size: 16pt;
}
button :active{
  border-style: none;
}
.about{
  position: static;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.about .image{
  background-image: url(profilepic.jpg);
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;
  grid-column: 1;
}
.text{
  grid-column: 2;
  padding: 50px;
  text-align: center;
  font-family: Oxygen;
  color: var(--lightaccent);
}
.text h1{
  font-family: Oxygen;
  font-size: 32pt;
  color: var(--lightshade);
}
 .text h2{
   color: var(--darkaccent);
   font-family: Lobster;
 }
.work{
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: var(--darkaccent);
}
.work h1{
  position: relative;
  top:20px;
  font-family: 'Lobster';
  color: var(--darkshade);
  background-color: var(--lightshade);
  width: fit-content;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  padding: 5px;
}
.card{
  position: relative;
  top: 60px;
  background-color: var(--darkshade);
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: Oxygen;
}
.card{
  border-radius: 50%;
  border-style: solid;
}
.card img{
  width: 200px;
  height: 200px;

}
