:root {
    /* CSS HEX */
    --dark: #040F16;
    --acc1: #25A18E;
    --main: #1a273c;
    --acc2: #72A1E5;
    --light: #FBFBFF;
}

body {
    background-image: linear-gradient(210deg, var(--dark), var(--main));
    color: var(--light);
    width: 100%;
    overflow-x: hidden;
}

.name h1 {
    text-shadow: 10px 10px 20px var(--dark);
    text-align: center;
    font-family: "Major Mono Display";
    font-size: 3vw;
    color: var(--light);
    text-decoration: underline thin;

}

.name h2 {
    text-align: center;
    font-family: "East Sea Dokdo";
    font-size: 3vw;
}

nav {

    font-family: "Major Mono Display";
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 16pt;
}


.home {
    position: fixed;
    top: 15vh;
    left: 3vw;
}

.about {
    position: fixed;
    bottom: 15vh;
    left: 3vw;
}

.work {
    position: fixed;
    top: 15vh;
    right: 3vw;
}

.contact {
    position: fixed;
    bottom: 15vh;
    right: 3vw;
}



nav a {
    color: var(--light);
    transition: transform 0.3s;
}

nav a:hover {
    transform: scale(1.2);
    color: var(--acc2);
    border-bottom-style: ridge;
    border-bottom-width: thin;
    border-bottom-color: var(--light);
}

main {
    border-radius: 20px;
    background-color: var(--light);
    overflow-x: hidden;
    font-family: "Roboto Slab";
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 20px var(--dark);

    color: var(--dark);
}

#Home {
    background-color: var(--light);
    padding: 50px;
    text-align: center;

}

#Home h1 {
    color: var(--dark);
}

#Home p {

    color: var(--main);
    opacity: 0.8;

}

#About {
    background-color: var(--main);
    padding: 10px;
    font-size: 3vw;
    color: var(--light);
    font-family: "East Sea Dokdo";
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#Work {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    background-color: var(--dark);
    color: var(--dark);
}

#Work h1 {
    text-align: center;
    color: var(--light);
    grid-row: 1;
    grid-column: 1/4;
}

.colorshift {
    animation: colors 3s infinite alternate-reverse;
}

@keyframes colors {
    0% {
        color: var(--dark);
    }

    33.333% {
        color: var(--main);
    }

    66.666% {
        color: var(--acc1);
    }

    100% {
        color: var(--acc2);
    }
}
