nav{
  background-color: darkred;
  text-align: center;
}

nav a{
  padding: 10px 16px;
  color: white;
  text-decoration: none;

}

.content{
  color: pink;
  font-size: 24pt;


}
.content :before{
  content: "";
  width: fit-content;
  padding: 170px;
  position: absolute;
  background-color: black;
  color: red;
  z-index: -1;
  transform: skewY(-11deg);
}
