*{

  margin: 0px;
  padding: 0px;
  overflow-y: hidden ;
}

body{

  width:100%;
  height:100%;
  background-color: black;

}


h1{
margin: auto;
width: 220px;
color: black;
background-color: orange;
font-family: monospace;
position:static;
font-style: italic;
font-size: 32px;
border-style: groove;
border-radius: 25%;
text-align: center;

}
#boris{
  width:500px;
  left: 25%;
  right: 25%;
  bottom: -180px;
  position: fixed;
}

#boris:hover {
  transform: translateY(-60%);
  transition: transform 3s;
}
