.column {
  float: left;
  width: 33%;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  background-color: orange;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body{
  margin: 0px;
  font-family: monospace;

}
p{
  font-size: 12pt;
}

h2{
  font-size: 29pt;
}

img{
  width: 75%;




}
