*{
  margin:0;
  padding:0;
}
body{

  background: linear-gradient(to right, #005c97, #363795);

}
.pants h1{
  color: white;
  font-family: 'Marck Script';
  text-decoration: underline;
  font-size: 64pt;
  width: 600px;
}
.pants p{
  padding-top: 20px;
  margin-left: 20px;
  color: #AAA;
  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: bold;

}
.gonow{
  font-family: sans-serif;
  margin-left: 50px;
  margin-top: 50px;
  background-color: #f00;
  width: 140px;
  text-align: center;
  color: #ff5;
  border-style: outset;
  border-color: red;


}
.gonow img{
  visibility: hidden;
  position: fixed;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
}
.gonow:hover img{
  visibility: visible;
}
.spookytrousers{
  float:right;
}
.spookytrousers img{
  width:250px;
  height: 400px;
}
