body{
  text-align: center;
  background-color: black;
  font-family: sans-serif;
  position: relative;
  top: 15vh;

}

.title{
  font-size: 48pt;
  color: white;
}

p{
  text-align: justify;
  color: cyan;
  width: 20%;
  margin: auto;
  position: relative;
  top: 10vh;
}
span{
  color: purple;
  font-size: 32pt;
  transition: all 1s;

}

button{
  text-shadow: 0px 0px 10px magenta;
  padding: 1vw 6vh;
  background-color: darkblue;
  font-family: monospace;
  color: yellow;
  font-size: 16pt;
}
